{
  AccessModifierOffset: -4,
  AlignAfterOpenBracket: Align,
  AlignTrailingComments: true,
  AllowAllParametersOfDeclarationOnNextLine: false,
  AllowShortBlocksOnASingleLine: Always,
  AllowShortCaseLabelsOnASingleLine: false,
  AllowShortFunctionsOnASingleLine: None,
  AllowShortIfStatementsOnASingleLine: false,
  AllowShortLoopsOnASingleLine: false,
  AlwaysBreakBeforeMultilineStrings: true,
  AlwaysBreakAfterReturnType: None,
  AlwaysBreakTemplateDeclarations: Yes,
  BinPackArguments: false,
  BinPackParameters: true,
  BraceWrapping: {
    AfterCaseLabel: true,
    AfterClass: true,
    AfterControlStatement: "true",
    AfterEnum: true,
    AfterFunction: true,
    AfterNamespace: true,
    AfterStruct: true,
    AfterUnion: true,
    AfterExternBlock: true,
    BeforeCatch: true,
    BeforeElse: true,
    IndentBraces: false,
    SplitEmptyFunction: false,
    SplitEmptyRecord: false,
    SplitEmptyNamespace: true,
  },
  BreakBeforeBinaryOperators: NonAssignment,
  BreakBeforeBraces: Custom,
  BreakBeforeTernaryOperators: true,
  BreakConstructorInitializers: BeforeComma,
  BreakInheritanceList: BeforeComma,
  ColumnLimit: 90,
  ConstructorInitializerAllOnOneLineOrOnePerLine: false,
  ConstructorInitializerIndentWidth: 2,
  ContinuationIndentWidth: 4,
  Cpp11BracedListStyle: true,
  DerivePointerAlignment: false,
  ExperimentalAutoDetectBinPacking: false,
  ForEachMacros: ['',],
  IncludeBlocks: Regroup,
  # TODO: Update the include categories
  IncludeCategories: [
    { Regex:           '',
      Priority:        2},
    { Regex:           '',
      Priority:        1}
  ],
  IndentCaseLabels: false,
  IndentWidth: 4,
  KeepEmptyLinesAtTheStartOfBlocks: true,
  Language: Cpp,
  MaxEmptyLinesToKeep: 1,
#  TODO: Update macros
  MacroBlockBegin: "",
  MacroBlockEnd: "",
  NamespaceIndentation: All,
  PenaltyBreakBeforeFirstCallParameter: 10,
  PenaltyReturnTypeOnItsOwnLine: 1000,
  PointerAlignment: Middle,
  SpaceAfterTemplateKeyword: false,
  SpaceBeforeAssignmentOperators: true,
  SpaceBeforeParens: Never,
  SpaceInEmptyParentheses: false,
  SpacesBeforeTrailingComments: 1,
  SpacesInAngles: false,
  SpacesInCStyleCastParentheses: false,
  SpacesInParentheses: false,
  Standard: c++17,
#  TODO: Update StatementMacros
  StatementMacros: [
    'CPP_member',
    'CPP_broken_friend_member',
  ],
  TabWidth: 4,
  UseTab: Never,
}